body {
  background: lavenderblush;
}
h1 {
  padding: 10px;
  text-align: center;
}
#main {
  margin: 10px;
}
#searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchBook {
  width: 80%;
  height: 50px;
  font-size: 25px;
  margin: 5px;
  text-align: center;
}

#search {
  width: 10%;
  height: 50px;
  margin: 5px;
  background: coral;
  border-radius: 10px;
  font-size: 2vw;
  cursor: pointer;
}
ul {
  list-style-type: none;
}

.book-main {
  float: right;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 2px solid blueviolet;
}
.book-thumbnail {
  float: left;
  padding: 5px;
}

.book-title,
.book-author,
.book-description,
.book-points {
  margin: 10px;
  padding: 5px;
}
#loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#more {
  display: none;
}
