* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.float-container {
  width: 100%;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  padding: 5px;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-child {
  width: 50%;
  float: left;
}
#logo {
  padding: 20px;
}
#login {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 55%;
  border: 1px solid black;
  border-radius: 10px;
  float: right;
  margin: 20px;
  margin-right: 50px;
}
#loginTable {
  text-align: center;
  margin: 5px;
}
#username,
#pswd {
  width: 100%;
  height: 30px;
  font-size: 0.8em;
  text-align: center;
  border-radius: 10px;
}

#showHidePswd {
  width: 4%;
  height: 15%;
  color: black;
  display: none;
  font-size: 0.8em;
  position: absolute;
  top: 40.5%;
  right: 20.7%;
  transform: translateY(-50%);
}

#showHidePswd:hover {
  background: gray;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#lblRememberMe,
#forgotPassword,
#lblSignUp,
#signUp {
  font-size: 0.8em;
}

#loginButton {
  width: 100%;
  border-radius: 5px;
}

#main {
  margin: 10px;
}

#searchDiv {
  width: 100%;
  padding: 0.8%;
  margin-top: 13%;
}
#searchBook {
  width: 70%;
  height: 50px;
  font-size: 1em;
  margin: 5px;
  margin-left: 15%;
  text-align: center;
  border-radius: 10px;
}

#search {
  width: 10%;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  font-size: 2vw;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.book-main {
  float: right;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}
.book-thumbnail {
  float: left;
  padding: 5px;
  filter: grayscale();
}

.book-title,
.book-author,
.book-description,
.book-points {
  margin: 10px;
  padding: 5px;
}
#loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.more {
  display: none;
}

.link {
  color: blue;
  text-decoration: underline;
  font-size: 0.8em;
  cursor: pointer;
}
.link:hover {
  color: #3498db;
}
